In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import os
import sys
import json
import requests

In [20]:
df = pd.read_csv("static/BTC-USD.csv")
df = df.set_index("Date")
del df["Adj Close"]

In [22]:
df.head()

                  Open        High         Low       Close    Volume
Date
2014-09-17  465.864014  468.174011  452.421997  457.334015  21056800
2014-09-18  456.859985  456.859985  413.104004  424.440002  34483200
2014-09-19  424.102997  427.834991  384.532013  394.795990  37919700
2014-09-20  394.673004  423.295990  389.882996  408.903992  36863600
2014-09-21  408.084991  412.425995  393.181000  398.821014  26580100

In [24]:
type(df.index)

pandas.core.indexes.base.Index